// SUBIR
.subir {
    @include TamañoFuente-Color(25px, $color3);
    width: 50px;
    background-color: $color1;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;

    &:hover {
        color: $color2;
    }
}