/* CATEGORIAS */
.categorias {
    justify-content: space-evenly;
    text-align: center;

    img {
        width: 18rem;
        transition: 0.5s linear;

        &:hover {
            transform: scale(.900);
        }
    }

    .btn{
        @include TamañoFuente-Color(20px, $color3);
        background-color: $color1;
        font-family: $fuente1;
        border-radius: 30px 0px;
        // display: inline-block;

        &:hover{
            background-color: $color2;
        }
    }
}
