/* FOOTER */
footer {
    padding-bottom: 10px;
    background-color: $color2;
}

.contenidoFooter {
    padding-top: 20px;
    padding-left: 20px;

    h3 {
        font-family: $fuente1;
        @include TamañoFuente-Color(25px, #d017149c);
    }

    ul {
        margin-left: -30px;

        li {
            list-style: none;

            a {
                @include TamañoFuente-Color(22px, $color3);
                font-family: $fuente2;
                text-decoration: none;

                &:hover {
                    color: $color1;
                }
            }
        }
    }

    i {
        @include TamañoFuente-Color(22px, #d017149c);
        padding: 5px;
    }

    p {
        @include TamañoFuente-Color(22px, $color3);
        display: inline;
    }
}

.redes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    i {
        @include TamañoFuente-Color(50px, #d017149c);
        letter-spacing: 10px;
        padding: 10px;

    }
}

$redes: (
    whatsapp: #2aa00f,
    facebook:  #0f22a0,
    yahoo: #940fa0
);

@each $red, $color in $redes {
    .fa-#{$red} {
        &:hover {
            color: $color;
        }
    }
}
.firma {
    background-color: $color2;

    h6 {
        color: $color3;
        font-family: $fuente2;
        text-align: center;
        letter-spacing: 0.5px;
        padding: 20px;
        margin: 0px;
    }
}
