
// HEADER

.navbar {
    background-color: $color2;
    text-align: center;

    button {
        background-color: #cf2a279e;
    }
}

.logo {
        height: 70px;
        float: left;
    
}

.nav-item {
    font-family: $fuente2;
    font-weight: 600;

    ul {
        background-color: $color1;

        a{
            @extend .nav-item;
            @include TamañoFuente-Color(22px, $color3);
    
            &:hover{
                @include Color-Fondo($color2, $color1);
            }
        }
    }
}

.navLink{
    @include TamañoFuente-Color(25px, $color3);
    text-decoration: none;
    padding: 10px;

    &:hover {
        color: $color1;
    }

    &:nth-of-type(1):hover {
        border-bottom: 3px solid $color1;
    }
}