// PRODUCTOS INDIVIDUALES

.carousel-item img {
    transition: 0.5s linear;

    &:hover {
        transform: scale(.900);
    }
}


.informacionProducto {
    padding: 30px;
    font-family: $fuente1;

    h2 {
        @include TamañoFuente-Color(40px, $color1);
    }

    button {
        background-color: $color1;
        border-radius: 40px 0px;

        a {
            color: $color3;
            text-decoration: none;

            &:hover {
                color: $color2;
            }

            i {
                padding: 0px 10px;
            }
        }
    }
}

.codigo{
    font-size: 18px;

    strong {
        color: $color1;
    }
}

.descripcionProducto{
    font-size: 22px;
}

.precioProducto {
    font-size: 35px;
}

.talles, .cantidad {
    padding: 20px 0px;
    font-size: 18px;

    label {
        padding-right: 10px;

    }
}

.descripcionCompleta {
    font-family: $fuente2;
    padding: 20px;
    margin-top: 20px;

    h3 {
        @include TamañoFuente-Color(30px, $color1);
        margin-bottom: 10px;
    }
}