@media only screen and (min-width:2000px) and (max-width:2560px) {

    label,
    option {
        font-size: 20px;
    }

    .enviar {
        font-size: 22px;
    }
}

@media only screen and (min-width:1700px) and (max-width:1999px) {

    .categorias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        img {
            margin-left: -100px;
        }

        .btn {
            width: 300px;
            margin-left: -100px
        }
    }

    label,
    option {
        font-size: 18px;
    }

    .enviar {
        font-size: 20px;
    }

    .descripcionProducto {
        font-size: 25px;
    }

    .cantidad {
        font-size: 20px;
    }

    .descripcionCompleta {
        h3 {
            font-size: 40px;
        }
    }
}

@media only screen and (min-width:1594px) and (max-width:1999px) {
    .productosTodos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media only screen and (min-width:1400px) and (max-width:1699px) {

    .categorias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        img {
            margin-left: -100px;
        }

        .btn {
            width: 300px;
            margin-left: -100px
        }
    }
}

@media only screen and (min-width:769px) and (max-width:1024px) {

    .jumbotron {
        p {
            padding-right: 400px;
        }
    }
}

@media only screen and (min-width:651px) and (max-width:768px) {

    .nav-item {
        text-align: center;
    }

    main {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.645), rgba(255, 255, 255, 0.12)), url(../imagenes/main.jpg);
    }

    .jumbotron {
        p {
            padding-right: 200px;
        }
    }

    .productoIndividual,
    .descripcionCompleta {
        flex-direction: column;
    }

}

@media only screen and (min-width:300px) and (max-width:650px) {

    .nav-item {
        text-align: center;
    }

    main {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.861), rgba(255, 255, 255, 0)), url(../imagenes/main.jpg);
        background-position: right;
    }

    .jumbotron {
        padding-left: 30px;

        h1 {
            font-size: 140px;
        }
    }

    .titulosSesiones {
        padding-left: 20px;

        h2 {
            font-size: 52px;
        }
    }

    .formularioContenido {
        grid-template-columns: 1fr;
        grid-template-rows: 300px auto;
    }

    .formularioLeft {
        margin: 20px;
    }

    .formulario {
        h2 {
            font-size: 50px;
        }
    }


    .seccionProductos {
        display: flex;
        flex-wrap: wrap-reverse;

        aside {
            h4 {
                margin-top: -100px;
            }

            ul {
                flex-direction: row;
                flex-direction: column;
            }
        }
    }

    .productoIndividual,
    .descripcionCompleta {
        flex-direction: column;
    }
}

@media only screen and (min-width:300px) and (max-width:367px) {
    .iconos {
        text-align: start;

        button {
            margin-right: 0px;
        }

        i {
            @include TamañoFuente-Color(22px, $color1);
            padding: 0px;
            padding-left: 0px;
            letter-spacing: 4px;
        }
    }
}

@media only screen and (min-width:300px) and (max-width:350px) {

    main {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.453)), url(../imagenes/main.jpg);
    }

    .jumbotron {
        padding-left: 20px;

        h1 {
            font-size: 130px;
        }

        h3 {
            font-size: 45px;
        }
    }

    .titulosSesiones {

        h2 {
            font-size: 45px;
        }
    }

    .formulario {

        h2 {
            font-size: 45px;
        }
    }
}

@media only screen and (min-width:300px) and (max-width:1024px) {
    .nosotros {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 300px;
    }

    .imgNosotrosRigth {
        height: 300px;
        border-radius: 50px 0px;
    }
}

@media only screen and (min-width:300px) and (max-width:768px) {

    .productoIndividual {
        .carousel{
            width: 20rem; 

        }
    }
}