/* fuente Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
/* rubik*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
/* Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=swap');

// COLORES
$color1: #d01714;
$color2: #000;
$color3: #fff;
// FUENTES
$fuente1: 'Rubik',
sans-serif;
$fuente2: 'Mulish',
sans-serif;


// MIXING QUE APLICA LA MODIFICACIÓN DE TAMAÑO DE FUENTE, Y COLOR
@mixin TamañoFuente-Color($font-size, $color) {
    font-size: $font-size;
    color: $color;
}

// MIXING QUE APLICA LA MODIFICACIÓN DE COLOR Y COLOR DE FONDO
@mixin Color-Fondo($color, $background-color) {
    color: $color;
    background-color: $background-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

//HEADER 
@import "_header.scss";

// PAGINA INDEX
@import "_inicio.scss";

// FOOTER
@import "_footer.scss";

// BOTON SUBIR
@import "_subir.scss";

// PRODUCTOS
@import "_productos.scss";

// PRODUCTO INDIVIDUAL
@import "_productoIndividual.scss";

// ANIMACIONES
@import "_animaciones.scss";

// MEDIA QUERY
@import "_responssive.scss";