@charset "UTF-8";
/* fuente Nunito*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
/* rubik*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
/* Mulish */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #000;
  text-align: center;
}
.navbar button {
  background-color: rgba(207, 42, 39, 0.6196078431);
}

.logo {
  font-family: "Rubik", sans-serif;
  color: #d01714;
  text-decoration: none;
  font-size: 45px;
  text-align: start;
}
.logo:hover {
  color: #fff;
}

.nav-item {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}
.nav-item ul {
  background-color: #d01714;
}
.nav-item ul a {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 22px;
}
.nav-item ul a:hover {
  background-color: #d01714;
  color: #000;
}

.navLink {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
}
.navLink:hover {
  color: #d01714;
}
.navLink:nth-of-type(1):hover {
  border-bottom: 3px solid #d01714;
}

main {
  height: 40rem;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.122), rgba(255, 255, 255, 0.12)), url(../imagenes/index/fondoMain2.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron {
  padding-top: 200px;
  padding-left: 40px;
  font-family: "Rubik", sans-serif;
}
.jumbotron div {
  background-color: #d01714;
  height: 10px;
  width: 250px;
  margin-top: -100px;
}
.jumbotron h1 {
  color: #000;
  font-size: 180px;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.jumbotron h3 {
  font-size: 50px;
  color: #d01714;
}
.jumbotron p {
  font-family: "Mulish", sans-serif;
  color: #000;
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
}
.jumbotron button {
  background-color: #d01714;
  font-size: 20px;
  border-radius: 20px 0px;
}
.jumbotron button:hover {
  background-color: #000;
  border: #000;
}
.jumbotron a {
  text-decoration: none;
  color: #fff;
}

.titulosSesiones {
  padding-top: 40px;
  padding-left: 50px;
}
.titulosSesiones h2 {
  font-family: "Rubik", sans-serif;
  padding-left: -10px;
  color: #d01714;
  font-weight: bold;
  font-size: 60px;
  font-style: italic;
}
.titulosSesiones p {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 25px;
  margin-bottom: -20px;
}

.separador {
  background-color: #d01714;
  margin-top: 50px;
  height: 20px;
}

/* CATEGORIAS */
.productos {
  padding: 20px;
}

.categorias {
  justify-content: space-around;
  text-align: center;
}
.categorias img {
  width: 18rem;
  transition: 0.5s linear;
}
.categorias img:hover {
  transform: scale(0.9);
}
.categorias .btn {
  background-color: #d01714;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  border-radius: 30px 0px;
  display: inline-block;
}
.categorias .btn:hover {
  background-color: #000;
  color: #d01714;
}

.nosotros {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.nosotros h2 {
  font-family: "Rubik", sans-serif;
  color: #d01714;
  font-weight: bold;
  font-size: 60px;
  font-style: italic;
  padding-top: 30px;
}
.nosotros p {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  padding: 10px;
}
.nosotros .imgNosotrosRigth {
  background-image: url(../imagenes/index/nosotros\ .jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px 0px;
}

.servicios {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.122), rgba(255, 255, 255, 0.12)), url(../imagenes/fondo.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
  margin-bottom: 30px;
}
.servicios div {
  justify-content: space-around;
}
.servicios article {
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 30px 0px;
}
.servicios article i {
  color: #d01714;
  font-size: 50px;
  padding: 10px;
}
.servicios article h3 {
  color: #d01714;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
}
.servicios article p {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
}

.contacto {
  padding: 20px;
  background-color: #d01714;
}

.formulario {
  font-weight: bold;
}
.formulario h2 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 60px;
  font-style: italic;
}
.formulario p {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
}

.formularioContenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.formularioContenido label,
.formularioContenido option {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}

.form-check {
  color: #000;
  margin-top: 10px;
}

.formularioLeft {
  margin: 30px;
  margin-left: 0;
  background-image: url(../imagenes/index/contacto.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px 0px;
}

.enviar {
  margin: 10px;
  background-color: #000;
  color: #fff;
  font-family: "Rubik", sans-serif;
}
.enviar:hover {
  color: #d01714;
}

/* FOOTER */
footer {
  padding-bottom: 10px;
  background-color: #000;
}

.contenidoFooter {
  padding-top: 20px;
  padding-left: 20px;
}
.contenidoFooter h3 {
  font-family: "Rubik", sans-serif;
  color: rgba(208, 23, 20, 0.6117647059);
  font-size: 25px;
}
.contenidoFooter ul {
  margin-left: -30px;
}
.contenidoFooter ul li {
  list-style: none;
}
.contenidoFooter ul li a {
  font-family: "Mulish", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
.contenidoFooter ul li a:hover {
  color: #d01714;
}
.contenidoFooter i {
  color: rgba(208, 23, 20, 0.6117647059);
  font-size: 22px;
  padding: 5px;
}
.contenidoFooter p {
  display: inline;
  color: #fff;
  font-size: 22px;
}

.redes {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.redes i {
  color: rgba(208, 23, 20, 0.6117647059);
  font-size: 50px;
  letter-spacing: 10px;
  padding: 10px;
}
.redes i:hover {
  color: #fff;
}

.firma {
  background-color: #fff;
}
.firma h6 {
  color: #000;
  font-family: "Rubik", sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 20px;
}

.subir {
  width: 50px;
  background-color: #d01714;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  font-size: 25px;
  color: #fff;
}
.subir:hover {
  color: #000;
}

.seccionProductos {
  display: grid;
  grid-template-columns: 0.3fr 1.4fr;
}
.seccionProductos aside {
  padding: 20px;
  padding-top: 100px;
}
.seccionProductos aside h4 {
  margin-bottom: 20px;
}
.seccionProductos aside ul {
  display: flex;
  flex-direction: column;
}
.seccionProductos aside ul li {
  margin-bottom: 12px;
}
.seccionProductos aside ul li a {
  color: rgb(98, 98, 98);
  text-decoration: none;
}
.seccionProductos aside ul li a:hover {
  color: #000;
}

.navegacionProductos {
  padding: 20px;
  margin-top: 20px;
}
.navegacionProductos li {
  font-family: "Rubik", sans-serif;
}
.navegacionProductos li a {
  color: #d01714;
  text-decoration: none;
}
.navegacionProductos li a:hover {
  color: #000;
}
.navegacionProductos form {
  display: flex;
  justify-content: end;
}
.navegacionProductos form input {
  width: 50%;
}
.navegacionProductos form button {
  background-color: #d01714;
  color: #fff;
  font-family: "Rubik", sans-serif;
}
.navegacionProductos form i {
  color: #d01714;
  padding: 5px;
  font-size: 22px;
  padding-left: 12px;
  padding-top: 8px;
}
.navegacionProductos form i:hover {
  color: #000;
}

.productosTodos {
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: space-around;
}
.productosTodos article img {
  transition: 0.5s linear;
}
.productosTodos article img:hover {
  transform: scale(0.9);
}

.card-body a {
  font-size: 22px;
  font-family: "Rubik", sans-serif;
  color: #d01714;
  text-decoration: none;
}
.card-body a:hover {
  color: #000;
}

.card-body h4 {
  text-align: start;
}

.iconos {
  text-align: end;
  margin-top: 20px;
}
.iconos button {
  background-color: #d01714;
  text-decoration: none;
  margin-right: 30px;
}
.iconos button:hover {
  background-color: #000;
}
.iconos a {
  color: #fff;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
.iconos a:hover {
  color: #fff;
}
.iconos i {
  color: #d01714;
  padding: 5px;
  font-size: 25px;
}
.iconos i:hover {
  color: #000;
}

.numeracion {
  display: flex;
  justify-content: center;
}

.carousel-item img {
  transition: 0.5s linear;
}
.carousel-item img:hover {
  transform: scale(0.9);
}

.informacionProducto {
  padding: 30px;
  padding-left: 40px;
  font-family: "Rubik", sans-serif;
}
.informacionProducto h2 {
  color: #d01714;
  font-size: 40px;
}
.informacionProducto button {
  background-color: #d01714;
  border-radius: 40px 0px;
}
.informacionProducto button a {
  color: #fff;
  text-decoration: none;
}
.informacionProducto button a:hover {
  color: #000;
}
.informacionProducto button a i {
  padding: 0px 10px;
}

.codigo {
  color: #000;
}
.codigo strong {
  color: #d01714;
}

.descripcionProducto {
  font-size: 20px;
}

.precioProducto {
  font-size: 30px;
}

.talles {
  margin: 30px 0px;
}
.talles label {
  padding-right: 10px;
}

.cantidad {
  margin-bottom: 30px;
}

.descripcionCompleta {
  font-family: "Mulish", sans-serif;
  padding: 20px;
  margin-top: 20px;
}
.descripcionCompleta h3 {
  color: #d01714;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.descripcionCompleta li {
  font-size: 20px;
  margin: 5px 0px;
}
.descripcionCompleta li strong {
  color: #d01714;
}

.transicion {
  -webkit-animation: 2s transicion 1;
          animation: 2s transicion 1;
  transform-origin: top left;
}

@-webkit-keyframes transicion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
}

@keyframes transicion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
}
.bote:hover {
  -webkit-animation: 2s bote infinite;
          animation: 2s bote infinite;
}

@-webkit-keyframes bote {
  20%, 50%, 80% {
    -webkit-transform: translateY(20);
  }
  65% {
    -webkit-transform: translateY(-20px);
  }
}

@keyframes bote {
  20%, 50%, 80% {
    -webkit-transform: translateY(20);
  }
  65% {
    -webkit-transform: translateY(-20px);
  }
}
.boteDos:hover {
  -webkit-animation: 3s bote 1;
          animation: 3s bote 1;
}

.balanceo {
  -webkit-animation: 3s balanceo infinite;
          animation: 3s balanceo infinite;
}

@-webkit-keyframes balanceo {
  20% {
    -webkit-transform: rotate(-0.1deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: rotate(0.5deg);
  }
  40%, 60%, 80% {
    -webkit-transform: rotate(-0.1deg);
  }
}

@keyframes balanceo {
  20% {
    -webkit-transform: rotate(-0.1deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: rotate(0.5deg);
  }
  40%, 60%, 80% {
    -webkit-transform: rotate(-0.1deg);
  }
}
.balanceoDos {
  -webkit-animation: 3s balanceo infinite;
          animation: 3s balanceo infinite;
}

@-webkit-keyframes balanceoDos {
  20% {
    -webkit-transform: rotate(-2deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: rotate(1deg);
  }
  40%, 60%, 80% {
    -webkit-transform: rotate(-2deg);
  }
}

@keyframes balanceoDos {
  20% {
    -webkit-transform: rotate(-2deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: rotate(1deg);
  }
  40%, 60%, 80% {
    -webkit-transform: rotate(-2deg);
  }
}
@media only screen and (min-width: 2000px) and (max-width: 2560px) {
  .logo {
    font-size: 70px;
  }
  .navLink {
    font-size: 38px;
  }
  .dropdown-item {
    font-size: 32px;
  }
  .lineaMdm {
    width: 400px;
  }
  .jumbotron h1 {
    font-size: 280px;
    margin-bottom: -30px;
  }
  .jumbotron h3 {
    font-size: 60px;
  }
  .jumbotron p {
    font-size: 32px;
  }
  .jumbotron button {
    font-size: 30px;
  }
  .titulosSesiones h2 {
    font-size: 100px;
  }
  .titulosSesiones p {
    font-size: 40px;
  }
  .categorias .btn {
    font-size: 30px;
  }
  .textoNosotrosLeft h2 {
    font-size: 100px;
  }
  .textoNosotrosLeft p {
    font-size: 30px;
    padding: 20px;
  }
  .servicioDos i {
    font-size: 80px;
  }
  .servicioDos h3 {
    font-size: 50px;
  }
  .servicioDos p {
    font-size: 30px;
  }
  .servicioDos a {
    font-size: 26px;
  }
  .formulario h2 {
    font-size: 90px;
  }
  .formulario p {
    font-size: 30px;
  }
  label,
option {
    font-size: 25px;
  }
  .form-check {
    font-size: 20px;
  }
  .enviar {
    font-size: 25px;
  }
  .redes i {
    font-size: 80px;
  }
  .productoIndividual nav {
    font-size: 30px;
  }
  .codigo {
    font-size: 30px;
  }
  .nombreProducto {
    font-size: 70px;
  }
  .descripcionProducto {
    font-size: 40px;
  }
  .precioProducto {
    font-size: 50px;
  }
  .talles,
.cantidad {
    font-size: 25px;
  }
  .añadirAlCarrito a {
    font-size: 25px;
  }
  .descripcionCompleta h3 {
    font-size: 45px;
  }
  .descripcionCompleta li {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1999px) {
  .logo {
    font-size: 60px;
  }
  .navLink {
    font-size: 30px;
  }
  .dropdown-item {
    font-size: 28px;
  }
  .lineaMdm {
    width: 300px;
  }
  .jumbotron h1 {
    font-size: 230px;
    margin-bottom: -30px;
  }
  .jumbotron button {
    font-size: 28px;
  }
  .categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .categorias img {
    margin-left: -85px;
  }
  .categorias .btn {
    margin-left: -50px;
    font-size: 30px;
  }
  .titulosSesiones h2 {
    font-size: 70px;
  }
  .titulosSesiones p {
    font-size: 35px;
  }
  .textoNosotrosLeft h2 {
    font-size: 70px;
  }
  .textoNosotrosLeft p {
    font-size: 25px;
  }
  .servicioDos i {
    font-size: 70px;
  }
  .servicioDos h3 {
    font-size: 40px;
  }
  .servicioDos p {
    font-size: 25px;
  }
  .servicioDos a {
    font-size: 22px;
  }
  .formulario h2 {
    font-size: 70px;
  }
  .formulario p {
    font-size: 25px;
  }
  .input {
    border: 20px;
  }
  label,
option {
    font-size: 22px;
  }
  .form-check {
    font-size: 20px;
  }
  .enviar {
    font-size: 20px;
  }
  .redes i {
    font-size: 60px;
  }
  .codigo {
    font-size: 20px;
  }
  .nombreProducto {
    font-size: 50px;
  }
  .descripcionProducto {
    font-size: 30px;
  }
  .precioProducto {
    font-size: 40px;
  }
  .talles {
    font-size: 20px;
  }
  .cantidad {
    font-size: 20px;
  }
  .añadirAlCarrito a {
    font-size: 20px;
  }
  .descripcionCompleta h3 {
    font-size: 40px;
  }
  .descripcionCompleta li {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699px) {
  .categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .categorias img {
    margin-left: -85px;
  }
  .btn {
    margin-left: -50px;
    font-size: 30px;
  }
  .codigo {
    font-size: 20px;
  }
  .nombreProducto {
    font-size: 50px;
  }
  .descripcionProducto {
    font-size: 30px;
  }
  .precioProducto {
    font-size: 40px;
  }
  .talles {
    font-size: 20px;
  }
  .cantidad {
    font-size: 20px;
  }
  .añadirAlCarrito a {
    font-size: 20px;
  }
  .descripcionCompleta h3 {
    font-size: 40px;
  }
  .descripcionCompleta li {
    font-size: 25px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .jumbotron p {
    padding-right: 400px;
  }
}
@media only screen and (min-width: 651px) and (max-width: 768px) {
  .jumbotron p {
    padding-right: 200px;
  }
  .productoIndividual,
.descripcionCompleta {
    flex-direction: column;
  }
}
@media only screen and (min-width: 300px) and (max-width: 650px) {
  main {
    height: 40rem;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.645), rgba(255, 255, 255, 0.12)), url(../imagenes/index/fondoMain2.jpg);
    background-position: right;
  }
  .jumbotron h1 {
    font-size: 150px;
  }
  .titulosSesiones {
    padding-left: 20px;
  }
  .titulosSesiones h2 {
    font-size: 52px;
  }
  .nosotros {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 300px;
  }
  .imgNosotrosRigth {
    height: 300px;
    border-radius: 50px 0px;
  }
  .formularioContenido {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
  }
  .formularioLeft {
    margin: 20px;
  }
  .formulario h2 {
    font-size: 50px;
  }
  aside {
    width: 100%;
  }
  aside h4 {
    margin-top: -70px;
  }
  aside ul {
    display: flex;
    flex-direction: row;
  }
  aside ul li {
    padding: 10px;
  }
  .seccionProductos {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .productoIndividual,
.descripcionCompleta {
    flex-direction: column;
  }
}
@media only screen and (min-width: 300px) and (max-width: 375px) {
  .jumbotron h1 {
    font-size: 140px;
  }
  .jumbotron h3 {
    text-shadow: 0 0 5px rgba(254, 254, 254, 0.563);
  }
  .iconos button {
    margin-right: 0px;
    margin-left: -30px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 355px) {
  .jumbotron {
    padding-left: 20px;
  }
  .jumbotron h1 {
    font-size: 120px;
    margin-bottom: 20px;
  }
  .jumbotron h3 {
    font-size: 40px;
  }
  .titulosSesiones h2 {
    font-size: 45px;
  }
  .formulario h2 {
    font-size: 40px;
  }
}/*# sourceMappingURL=estilos.css.map */