main {
  height: 40rem;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.122), rgba(255, 255, 255, 0.12)), url(../imagenes/index/fondoMain2.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron {
  padding-top: 200px;
  padding-left: 40px;
  font-family: "Rubik", sans-serif;
}
.jumbotron div {
  background-color: #d01714;
  height: 10px;
  width: 250px;
  margin-top: -100px;
}
.jumbotron h1 {
  color: #000;
  font-size: 180px;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.jumbotron h3 {
  font-size: 50px;
  color: #d01714;
}
.jumbotron p {
  font-family: "Mulish", sans-serif;
  color: #000;
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
}
.jumbotron button {
  background-color: #d01714;
  font-size: 20px;
  border-radius: 20px 0px;
}
.jumbotron button:hover {
  background-color: #000;
  border: #000;
}
.jumbotron a {
  text-decoration: none;
  color: #fff;
}

.titulosSesiones {
  padding-top: 40px;
  padding-left: 50px;
}
.titulosSesiones h2 {
  font-family: "Rubik", sans-serif;
  padding-left: -10px;
  color: #d01714;
  font-weight: bold;
  font-size: 60px;
  font-style: italic;
}
.titulosSesiones p {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 25px;
  margin-bottom: -20px;
}

.separador {
  background-color: #d01714;
  margin-top: 50px;
  height: 20px;
}

/* CATEGORIAS */
.productos {
  padding: 20px;
}

.categorias {
  justify-content: space-around;
  text-align: center;
}
.categorias img {
  width: 18rem;
  transition: 0.5s linear;
}
.categorias img:hover {
  transform: scale(0.9);
}
.categorias .btn {
  background-color: #d01714;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  border-radius: 30px 0px;
  display: inline-block;
}
.categorias .btn:hover {
  background-color: #000;
  color: #d01714;
}

.nosotros {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.nosotros h2 {
  font-family: "Rubik", sans-serif;
  color: #d01714;
  font-weight: bold;
  font-size: 60px;
  font-style: italic;
  padding-top: 30px;
}
.nosotros p {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  padding: 10px;
}
.nosotros .imgNosotrosRigth {
  background-image: url(../imagenes/index/nosotros\ .jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px 0px;
}

.servicios {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.122), rgba(255, 255, 255, 0.12)), url(../imagenes/fondo.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
  margin-bottom: 30px;
}
.servicios div {
  justify-content: space-around;
}
.servicios article {
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 30px 0px;
}
.servicios article i {
  color: #d01714;
  font-size: 50px;
  padding: 10px;
}
.servicios article h3 {
  color: #d01714;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
}
.servicios article p {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
}

.contacto {
  padding: 20px;
  background-color: #d01714;
}

.formulario {
  font-weight: bold;
}
.formulario h2 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 60px;
  font-style: italic;
}
.formulario p {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
}

.formularioContenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.formularioContenido label,
.formularioContenido option {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}

.form-check {
  color: #000;
  margin-top: 10px;
}

.formularioLeft {
  margin: 30px;
  margin-left: 0;
  background-image: url(../imagenes/index/contacto.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px 0px;
}

.enviar {
  margin: 10px;
  background-color: #000;
  color: #fff;
  font-family: "Rubik", sans-serif;
}
.enviar:hover {
  color: #d01714;
}/*# sourceMappingURL=inicio.css.map */